bidict==0.22.1 ; python_version >= "3.11" and python_version < "4"
certifi==2023.5.7 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4"
python-engineio==4.5.1 ; python_version >= "3.11" and python_version < "4"
python-socketio[client]==5.8.0 ; python_version >= "3.11" and python_version < "4"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
uptime-kuma-api==1.1.0 ; python_version >= "3.11" and python_version < "4"
urllib3==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
websocket-client==1.6.1 ; python_version >= "3.11" and python_version < "4"
